@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply rounded border px-2 py-1 font-semibold transition duration-200 ease-out md:px-9 md:py-2;
  }
  .outlineBtn {
    @apply border-blue-600 bg-transparent hover:bg-blue-600 hover:text-white;
  }
  .solidBtn {
    @apply border-transparent bg-blue-600 text-white hover:border-blue-600 hover:bg-transparent hover:text-black;
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.filterLi {
  @apply w-full border-b border-gray-200 sm:border-b-0 sm:border-r;
}

html,
a {
  scroll-behavior: smooth !important;
}
